/* Copyright 2020 Karlsruhe Institute of Technology
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. */

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$lato-font-path: '~lato-font/fonts';
$success: #009682;
// Prevent loading external fonts, we import our own instead.
$web-font-path: 'data:text/css;base64,';

@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/flatly/bootswatch';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

@import '~select2/dist/css/select2';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4';

a {
  background-color: transparent;
  color: $primary;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #1a252f;
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

main {
  flex: 1;
  margin-top: 24px;

  @include media-breakpoint-up(md) {
    margin-top: 90px;
  }
}

#navbar {
  z-index: 1060;

  @include media-breakpoint-up(md) {
    left: 0;
    max-height: 66px;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;

  @include media-breakpoint-up(md) {
    top: -66px;
  }
}

.bg-light {
  background-color: #f7f7f7 !important;
}

.border-light {
  border-color: #f7f7f7 !important;
}

.btn-light {
  background-color: #f7f7f7;
  border-color: #ced4da;
  color: black;

  &.disabled, &:disabled {
    background-color: #fcfcfc;
    border-color: #ced4da;
    color: black;
  }

  &:hover:not(:disabled) {
    background-color: #dbdbdb;
    border-color: #cfd9db;
    color: black;
  }
}

.btn-link {
  text-decoration: none !important;
}

.card-action .card-body {
  &:active {
    background-color: $list-group-action-active-bg;
  }

  &:focus, &:hover {
    background-color: $list-group-hover-bg;
    text-decoration: none;
    z-index: 1;
  }
}

.crossed {
  text-decoration: line-through;
}

.custom-breadcrumb {
  background-color: #f7f7f7;
  border: solid #dfdfdf;
  border-width: 1px;
}

// To be used for buttons/links/etc. that should still be clickable inside a stretched link.
.elevated {
  position: relative;
  z-index: 2;
}

.form-group.required label:after {
  content: '*';
  color: red;
}

.has-error {
  border: solid red;
  border-width: 1px;
}

.input-group-text {
  @extend .input-group-text;
  background-color: #f7f7f7;
}

.invalid-feedback {
  display: block;
}

.modal {
  z-index: 2010;
}

.modal-backdrop {
  z-index: 2000;
}

.nav-pills.card-header-pills {
  @include media-breakpoint-down(sm) {
    display: inline-grid;
    margin: 0;
    min-width: 100%;
  }
}

.nav-tabs.card-header-tabs {
  @include media-breakpoint-down(sm) {
    display: inline-grid;
    margin: 0;
    min-width: 100%;

    .nav-item {
      .nav-link {
        border: 1px solid #dee2e6;
        border-radius: 0;
      }

      &:first-child .nav-link {
        @include border-top-radius($nav-tabs-border-radius);
      }

      &:last-child .nav-link {
        @include border-bottom-radius($nav-tabs-border-radius);
      }
    }
  }

  .nav-item .nav-link:hover {
    border-color: #dee2e6;
  }
}

.popover {
  max-width: none;
  width: 350px;
}

.type-badge {
  margin-top: -0.4em;
  vertical-align: middle;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

/* Logo animation */

@keyframes kadi-logo-color {
  0% {
    fill: auto;
  }
  10% {
    fill: #6cc9bc;
  }
  100% {
    fill: auto;
  }
}

.kadi-logo {
  animation: kadi-logo-color;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  &:hover {
    fill: #6cc9bc;
    transition: all 0.1s ease;
  }

  &#kadi-logo-one {
    animation-delay: 0s;
  }

  &#kadi-logo-two {
    animation-delay: 0.1s;
  }

  &#kadi-logo-three {
    animation-delay: 0.2s;
  }

  &#kadi-logo-four {
    animation-delay: 0.3s;
  }

  &#kadi-logo-five {
    animation-delay: 0.4s;
  }

  &#kadi-logo-six {
    animation-delay: 0.5s;
  }
}

/* Select2 */

.select2.select2-container {
  width: 100% !important;

  &.select2-container--focus .select2-selection {
    background-color: $custom-select-bg;
    border-color: #597ea2;
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    color: #7b8a8b;
    outline: 0;
  }

  .select2-selection {
    background-color: $custom-select-bg;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;

    .has-error + & {
      border: 1px solid red;
      border-radius: 0.25rem;
      width: 100%;
    }
  }

  .select2-selection--single {
    background: $custom-select-background;
    background-color: $custom-select-bg;

    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__clear {
      background-color: $custom-select-bg;
      border-radius: 0;
      color: #9fadae;
      font-size: 17pt;
      font-weight: bold;
      margin-right: 0.2em;
      margin-top: auto;
      line-height: inherit;

      &:hover {
        color: #343a40;
      }
    }

    .select2-selection__placeholder {
      color: $input-color;
    }

    .select2-selection__rendered {
      color: $input-color;
      margin-left: 5px;
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      margin-left: 5px;
      margin-top: 0.5em;
    }

    .select2-selection__rendered {
      color: $input-color;
      margin-left: -5px;

      .select2-selection__choice__remove {
        margin-right: 3px;
      }
    }
  }

  .select2-search--inline .select2-search__field {
    background-color: $custom-select-bg;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 6px;
    padding-left: 10px;
    width: 100% !important;
  }

  .select2-single-sm.select2-selection {
    &.select2-selection--single, .select2-selection__rendered  {
      @include font-size($custom-select-font-size-sm);
      height: $custom-select-height-sm !important;
      line-height: $custom-select-height-sm !important;
    }

    .select2-selection__placeholder {
      line-height: 1em !important;
    }
  }
}

.select2-container .select2-results__options  {
  word-wrap: break-word;
}

.select2-hidden-accessible {
  margin-top: 70px !important;
}

/* Vue */

[v-cloak] {
  display: none;
}
