{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{# Render a hidden input field for use in forms containing the current CSRF token. #}
{% macro render_csrf() %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{% endmacro %}

{# Render a JS script tag using the given filename as source. #}
{% macro render_js(filename) %}
  <script src="{{ static_url('dist/' + filename) }}" type="application/javascript"></script>
{% endmacro %}

{# Preload a WOFF2 font with the given name.
   Does not use the manifest mapping because the regular font file is referenced in the CSS. #}
{% macro preload_font(name) %}
  <link rel="preload" href="{{ url_for('static', filename='dist/fonts/' + name + '.woff2') }}" as="font" type="font/woff2" crossorigin>
{% endmacro %}
