{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/base.html" %}

{% block content %}
  <div class="row">
    {% if has_permission(current_user, "create", "template", None) %}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="dropdown">
          <button class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-plus-square"></i> {% trans %}Create new template{% endtrans %}
          </button>
          <div class="dropdown-menu" style="width: 100%;">
            <a class="dropdown-item" href="{{ url_for('templates.new_template', type='record') }}">
              {% trans %}Record{% endtrans %}
            </a>
            <a class="dropdown-item" href="{{ url_for('templates.new_template', type='extras') }}">
              {% trans %}Extras{% endtrans %}
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
    {% else %}
      <div class="col-lg-12">
    {% endif %}
        <div class="input-group">
          <input id="filter-input"
                 class="form-control"
                 placeholder="{% trans %}Filter templates by title or identifier{% endtrans %}"
                 v-model="filter">
          <clear-button input-id="filter-input" :input="filter" @clear-input="filter = ''"></clear-button>
        </div>
      </div>
  </div>
  <br>
  <dynamic-pagination endpoint="{{ url_for('api.get_templates') }}"
                      placeholder="{% trans %}No templates.{% endtrans %}"
                      :args="{_internal: true, filter: filter}"
                      :per-page="12">
    <template #default="paginationProps">
      <card-deck :items="paginationProps.items">
        <template #default="props">
          <div class="card-body">
            <a :href="props.item._links.view" class="stretched-link">
              <span class="badge badge-primary font-weight-normal float-right">{$ props.item.type | capitalize $}</span>
              <span class="h5">
                <strong>{$ props.item.title $}</strong>
              </span>
              <p>@{$ props.item.identifier $}</p>
              <div class="elevated">
                {% trans %}Created by{% endtrans %} <identity-popover :user="props.item.creator"></identity-popover>
              </div>
            </a>
          </div>
          <div class="card-footer bg-white py-1">
            <small class="text-muted">
              {% trans %}Last modified{% endtrans %} <from-now :timestamp="props.item.last_modified"></from-now>
            </small>
          </div>
        </template>
      </card-deck>
    </template>
  </dynamic-pagination>
{% endblock %}

{% block scripts %}
  <script type="application/javascript" nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      data: {
        filter: '',
      },
    });
  </script>
{% endblock %}
