{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="navigation">Navigation</h4>
<p>
  After logging in, the navigation in the top left allows access to
  <a href="#records"><strong>Records</strong></a>, <a href="#collections"><strong>Collections</strong></a>,
  <a href="#groups"><strong>Groups</strong></a>, <a href="#users"><strong>Users</strong></a> and
  <a href="#templates"><strong>Templates</strong></a>.
  Each navigation item leads to the respective main page of these resources, where new resources can be created and
  existing ones can be searched for. Details about those resources are described in the following sections. The
  navigation also provides quick access to create new resources or search for existing ones. Furthermore, the dropdown
  menu on the far right can be used to access the user profile, created resources as well as the
  <a href="#settings"><strong>Settings</strong></a>.
</p>
