{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="settings">Settings</h4>
<p>
  The settings allow managing everything not directly related to the actual creation and management of resources.
  Similar to managing resources, there are multiple menu items to navigate to different views:
</p>
<dl class="row">
  <dt class="col-md-2">Profile</dt>
  <dd class="col-md-10">
    In this view it is possible to change basic user information, which is displayed on a user's profile. Note that some
    options might be disabled, depending on the type of the user account.
  </dd>
  <dt class="col-md-2">Password</dt>
  <dd class="col-md-10">
    In this menu, users can change their password. Depending on the type of user account this menu item may be hidden.
  </dd>
  <dt class="col-md-2">Access tokens</dt>
  <dd class="col-md-10">
    Creating a personal access token (PAT) gives access to the API that Kadi4Mat provides. This REST-like API makes it
    possible to programmatically interact with most of the resources that can be used through the web interface by
    sending suitable HTTP requests to the different endpoints the API provides. Detailed information about the API can
    be found in the developer documentation of Kadi4Mat.
  </dd>
  <dt class="col-md-2">Connected services</dt>
  <dd class="col-md-10">
    In this menu, users can manage their connections with different third party services. Each service has to be
    registered as a plugin in the application and can be used for different tasks, e.g. publishing records.
  </dd>
  <dt class="col-md-2">Trash</dt>
  <dd class="col-md-10">
    This is where deleted resources can be found, namely deleted records, collections or groups. Resources can either be
    restored or deleted completely. The latter will happen automatically after
    {{ config["RESOURCES_MAX_AGE"] | durationformat }}. Note that only the creator of a resource can restore or
    completely delete them.
  </dd>
</dl>
