{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="templates">Templates</h4>
<p>
  Templates allow one to create blueprints for different kinds of resources. There are different types of templates,
  which define the actual content that a template can contain. The following types of templates currently exist:
</p>
<dl class="row">
  <dt class="col-md-2">Record</dt>
  <dd class="col-md-10">
    <em>Record</em> templates can contain all of the metadata that can be specified for a record, including its generic
    extra metadata. Record templates can be selected when creating a new record either through the main record menu or
    when adding a new record to an existing collection.
  </dd>
  <dt class="col-md-2">Extras</dt>
  <dd class="col-md-10">
    <em>Extras</em> templates are focused on the generic extra metadata of a record. Extras templates can be selected
    and combined wherever such metadata can be specified, including when creating other templates.
  </dd>
</dl>
<h5 id="new-template">Creating a new template</h5>
<p>
  Creating a new template is very similar to creating other kinds of resources. Each template requires at least setting
  a title and identifier, while the actual template data depends on the type of template.
</p>
<h5 id="manage-template">Managing existing templates</h5>
<p>
  Similar to other resources, templates have their own navigation menu, offering the ability to share templates with
  other users and groups or to edit existing templates. The latter menu also allows deleting templates. Note that
  compared to other resources, templates will be deleted directly and are not moved to the trash first.
</p>
