{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.add_files", id=record.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <div class="card-header">
      <nav-tabs class="card-header-tabs"
                :items="[{id: 'upload-files', param: 'files', content: '<strong>{% trans %}Upload files{% endtrans %}</strong>'},
                         {id: 'upload-drawing', param: 'drawing', content: '{% trans %}Upload drawing{% endtrans %}'},
                         {% if config['EXPERIMENTAL_FEATURES'] %}{id: 'upload-workflow', param: 'workflow', content: 'Upload workflow'}{% endif %}]"
                @change-tab="changeTab"
                ref="navTabs">
      </nav-tabs>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="upload-files" class="tab-pane">
          {% include "records/snippets/upload_files.html" %}
        </div>
        <div id="upload-drawing" class="tab-pane">
          {% include "records/snippets/upload_drawing.html" %}
        </div>
        {% if config['EXPERIMENTAL_FEATURES'] %}
          <div id="upload-workflow" class="tab-pane">
            {% include "records/snippets/upload_workflow.html" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/records/add-files.js")}}
{% endblock %}
